Solution.APIWDBFirst/Solution.APIWDBFirst/bin/
Solution.APIWDBFirst/.vs/
Solution.APIWDBFirst/Solution.APIWDBFirst/obj/
Solution.UI.Core/Solution.UI.Core/.vs/
Solution.UI.Core/Solution.UI.Core/Solution.Core/bin/
Solution.UI.Core/Solution.UI.Core/Solution.Core/obj/
Solution.UI.Core/Solution.UI.Core.rar
Solution/.vs/
Solution/Solution.API/bin/
Solution/Solution.API/obj/
Solution/Solution.BS/bin/
Solution/Solution.BS/obj/
Solution/Solution.DAL.EF/bin/
Solution/Solution.DAL.EF/obj/
Solution/Solution.DAL.Repository/bin/
Solution/Solution.DAL.Repository/obj/
Solution/Solution.DAL/bin/
Solution/Solution.DAL/obj/
Solution/Solution.DO/bin/
Solution/Solution.DO/obj/
