Solution.APIWDBFirst/Solution.APIWDBFirst/bin/
Solution.APIWDBFirst/.vs/
Solution.APIWDBFirst/Solution.APIWDBFirst/obj/
Solution.UI.Core/Solution.UI.Core/.vs/
Solution.UI.Core/Solution.UI.Core/Solution.Core/bin/
Solution.UI.Core/Solution.UI.Core/Solution.Core/obj/
Solution.UI.Core/Solution.UI.Core.rar
